@model BusRoutes

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Routes and Buses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-OgVRvuATP1z7JjHLkuOUzKw6I+LOeWZfXTjhPuXvIcVTxIHV12pbwTEQw7I79JuC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

    <style>
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 600px;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .exit-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            align-items: center;
            justify-items: center;
            text-align: center;
        }

        .alert-success {
            color: green;
        }
        .list-container {
            max-width: 800px;
            margin: 0 auto;
        }

        .list-header {
            margin-bottom: 20px;
            text-align: center;
        }

        .list-title {
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }

        .list-item {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display:flex;
        }

        .list-item-title {
            font-size: 18px;
            font-weight: bold;
        }

        .list-item-details {
            margin-top: 5px;
        }

        .list-item-details p {
            margin: 0;
            font-size: 14px;
        }
    .item_info{
            float: left;
            width: 90%;
    }
    .item_btn{
            float: right;
            width: 8%;
    }

        .btn{
            margin-top:10px;
        }
    </style>
</head>


<body>
    @if (TempData["del"] != null)
    {
        <h4 class="bg-info bg-opacity-75" id="delete-msg">@TempData["del"]</h4>
    }
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form>
                <div class="list-container">
                    <div class="list-header">
                        <h3>Curse</h3>
                    </div>
                    <div class="list-title">Curse</div>
                    <div class="list-items">
                        @foreach(var r in Model.routes)
                        {
                          
                            <div class="list-item">
                            <div class="item_info">
                                <div class="list-item-title">@r.BusId</div>
                                <div class="list-item-details">

                                    <p>Plecare din : @r.Departure</p>
                                    <p>Sosire la: @r.Arrival</p>
                                    <p>Data plecarii: @r.DepartureDate</p>
                                    <p>Data sosirii: @r.ArrivalDate</p>
                                    <p>Pret: @r.Price</p>
                                   
                                </div>
                            </div>
                                <div class="item_btn">

                                    <button class="btn btn-danger" formmethod="post" type="submit" asp-action="DeleteRoute" asp-controller="Moderator" asp-route-id="@r.Id"><i class="bi bi-trash"></i></button>
                                    <button class="btn btn-primary" formmethod="get" type="submit" asp-action="EditRoute" asp-controller="Moderator" asp-route-id="@r.Id"><i class="bi bi-pencil"></i></button>
                                    
                                </div>
                        </div>
                            
                            
                       }
                    </div>
                </div>
                </form>
            </div>
            
            <div class="col-md-6">
                <form>
                <div class="list-container">
                    <div class="list-header">
                        <h3>Autobuze</h3>
                    </div>
                    <div class="list-title">Autobuze</div>
                    <div class="list-items">
                        @foreach(var b in Model.buses)
                        {
                        <div class="list-item">
                            <div class="item_info">
                                <div class="list-item-title">@b.Bus_number</div>
                                <div class="list-item-details">
                                    <p>Numar de inmatriculare: @b.Bus_Plate_number</p>
                                    <p>Tip autobuz: @b.Bus_Type</p>
                                    <p>Locuri: @b.Capacity</p>
                                </div>
                            </div>
                            <div class="item_btn">
                                <button class="btn btn-danger" onclick="confirmDelete()" formmethod="post" type="submit" asp-route-id="@b.Id" asp-controller="Moderator" asp-action="DeleteBus"><i class="bi bi-trash"></i></button>
                                <button class="btn btn-primary" formmethod="get" type="submit" asp-route-id="@b.Id" asp-controller="Moderator" asp-action="EditBus"><i class="bi bi-pencil"></i></button>
                            </div>
                        </div> 
                        }
                    </div>
               
                </div>
                </form>
            </div>
        </div>

    </div>
 
</body>

</html>
<script>
    const popup = document.createElement('div');
    popup.innerHTML = `
        <div class="popup" id=popup>
            <div class="exit-btn" id="exit-btn">&#x2716;</div>
                <div class="grid-container">
                        <div><h1class="alert-success">Ruta a fost stearsa cu succes</h1></div>
                </div>
            </div>
        </div>
              `;
    function confirmDelete() {
        console.log("deleted");
        var result = confirm("Are you sure you want to delete this route?");
        if (result) {

            
            document.body.appendChild(popup);
            const exitButton = document.getElementById('exit-btn');
            exitButton.addEventListener('click', function () {
                document.body.removeChild(popup);
            });
        }
    }
   
    $('#delete-msg').fadeOut(5000, function () {
        $(this).remove();
    });
</script>