@page
@model RegisterModel
@{
    ViewData["Title"] = "Inregistrare cont";
}
<head>

    <link rel="stylesheet" href="~/css/bootstrap-social.css">
    <link rel="stylesheet" href="~/css/login.css">
    <script src="https://kit.fontawesome.com/ac82b8afc7.js" crossorigin="anonymous"></script>
</head>

<div class="center-div">
    <div style="align-content:center; width:500px">
    <div class="login-form">
        <h1 class="form_title center-div">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div><br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Parolă</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div><br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Confirmare parolă</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div><br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Inregistrare</button>
        </form>
            <hr />
            <p style="text-align:center;">sau intră în cont cu</p>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                            @if (provider.DisplayName == "SAML2P")
                            {
                                <button type="submit" class="btn btn-primary btn btn-block btn-social btn-github" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <span class="fa fa-github"></span> Okta
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary  btn btn-block btn-social btn-@provider.DisplayName.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <span class="fa fa-@provider.DisplayName.ToLower()"></span> @provider.DisplayName
                                </button>
                            }
                                 
                    }
                </p>
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
