
@if(TempData["del"]!=null)
{

    <h3 class="bg-success text-white">Utilizatorul a fost șters</h3>
}
<form >
<table class="table  table-striped">
    <thead class="thead-dark">
        <tr>
            <td scope="col">Email</td>
            <td scope="col">Numar de telefon</td>
            <td scope="col">2FA</td>
            <td scope="col">Email confirmat</td>
            <td scope="col">Editeaza</td>
            <td scope="col">Sterge</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
        <tr>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>@(user.TwoFactorEnabled ? "Da" : "Nu")</td>
            <td>@(user.EmailConfirmed ? "Da" : "Nu")</td>
            <td><button class="btn btn-warning" type="submit" asp-action="Edit" formmethod="get" asp-controller="Admin" asp-route-id="@user.Id">Editeaza</button></td>
            <td><button class="btn btn-danger" type="submit" asp-action="Delete" formmethod="get" asp-controller="Admin" asp-route-id="@user.Id" onclick="return confirm('Ești sigur că dorești să ștergi utilizatorul acesta?');">Sterge</button></td>
        </tr>
        }
    </tbody>
</table>
</form>
