
<form >
<table class="table  table-striped">
    <thead class="thead-dark">
        <tr>
            <td scope="col">Email</td>
            <td scope="col">PhoneNumber</td>
            <td scope="col">TwoFactorEnabled</td>
            <td scope="col">Edit</td>
            <td scope="col">Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
        <tr>
            <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.TwoFactorEnabled</td>
                
                <td><button class="btn btn-warning" type="submit" asp-action="Edit" formmethod="get" asp-controller="Admin" asp-route-id="@user.Id">Edit</button></td>
                    <td><button class="btn btn-danger" type="submit" asp-action="Delete" formmethod="get" asp-controller="Admin" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button></td>
        </tr>
        }
    </tbody>
</table>
</form>
